body{
	background-color:#FCF;
	text-align:center;
	color:#FFF;
	}
	
	.header{
		width:960px;
		height:300px;
		background-image: url(image/skoy.jpg);
		background-repeat: no-repeat;
		margin-right: auto;
		margin-left: auto;
		opacity: .9;
		
	}
	
	.textinput {
		background-image: url(image/2932_131096406252kx.gif);
		background-repeat: repeat;
		width:300px;
		height:100px;
		margin:10px 0 10px 0;
		
	}
	
	#skoy{
		font-size:16px;
		color:#000;
		margin-top:10px;
		border:2px dotted #C00;
		margin-right: auto;
		margin-left: auto;
	}