* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body {
  background-color: #fcf;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header img {
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.textinput {
  background-image: url(image/2932_131096406252kx.gif);
  background-repeat: repeat;
  width: 300px;
  height: 100px;
  margin: 10px 0 10px 0;
}

#skoy {
  font-size: 16px;
  color: #000;
  width: 300px;
  margin-top: 10px;
  border: 2px dotted #c00;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  border: 1px solid #999;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 5px;
}
