@tailwind base;

.skoy-bg {
  background: linear-gradient(219deg, #00ff15, #1100ff, #8d00ff, #ff002b, #8a0042, #fffa00, #007a40);
  background-size: 1400% 1400%;
  -webkit-animation: skoyBg 4s ease infinite;
  -moz-animation: skoyBg 4s ease infinite;
  -o-animation: skoyBg 4s ease infinite;
  animation: skoyBg 4s ease infinite;
}
@-webkit-keyframes skoyBg {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@-moz-keyframes skoyBg {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@-o-keyframes skoyBg {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@keyframes skoyBg {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
